{{ if eq .chezmoi.os "arch" -}}
#!/bin/bash

sudo pacman -S --noconfirm --needed {{ range .packages.linux.pacman -}}
{{ . | quote }} {{ end }}

paru -S --noconfirm --needed {{ range .packages.linux.paru -}}
{{ . | quote }} {{ end }}
{{ end -}}
